body {
    background: #0d4f0d;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;

    background: #f5f5f5;
    border-radius: 35px;

    padding: 25px 18px 120px 18px;

    overflow-y: auto;
}

.title {
    font-size: 42px;
    font-weight: 900;
    color: #145b14;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    gap: 12px;
    margin-bottom: 22px;
    overflow-x: auto;
}

.filter-btn {
    min-width: 155px;
    height: 58px;

    border-radius: 18px;
    border: 6px solid #145b14;

    background: white;

    color: #145b14;
    font-size: 20px;
    font-weight: 800;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    flex-shrink: 0;

    padding-left: 20px;
    padding-right: 20px;
}

.filter-btn.active {
    background: #145b14;
    color: white;
}

.room-card {

    background: white;

    border: 3px solid #145b14;

    border-radius: 22px;

    padding: 22px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 18px;

    min-height: 150px;
}

.room-left {
    display: flex;
    align-items: center;
    gap: 22px;
}

.icon-box {
    width: 90px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}

.heart {
    color: #2d662d;
    font-size: 150px;
    text-decoration: none;
}

.cancel {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #2d662d;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 70px;
    font-weight: 900;
}

.checklist {
    width: 90px;
    height: 90px;

    border-radius: 12px;

    background: #1d6b1d;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    padding: 12px;
}

.check-item {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.clock {
    width: 90px;
    height: 90px;

    border-radius: 50%;
    border: 10px solid #2f772f;

    position: relative;
}

.clock::before {
    content: "";
    position: absolute;

    width: 6px;
    height: 28px;

    background: #2f772f;

    top: 18px;
    left: 50%;

    transform: translateX(-50%);
}

.clock::after {
    content: "";
    position: absolute;

    width: 24px;
    height: 6px;

    background: #2f772f;

    top: 48px;
    left: 44px;

    transform: rotate(35deg);
    transform-origin: left center;
}

.room-info h2 {
    font-size: 34px;
    color: black;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 10px;
}

.room-info p {
    color: #145b14;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.status {
    min-width: 185px;
    height: 58px;

    border-radius: 18px;

    border: 7px solid #145b14;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #145b14;

    font-size: 20px;
    font-weight: 800;

    background: white;

    padding: 0 15px;
    text-align: center;
}