<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Antecessum OR</title>

  <link rel="stylesheet" href="../styles/landing.css">
  <link rel="stylesheet" href="../styles/components.css">
</head>

<body>

  <div class="screen">

    <div class="overlay"></div>

    <div class="content">

      <div class="logo">
        <div class="logo-inner"></div>
      </div>

      <h1 class="title">Antecessum OR</h1>

      <div class="subtitle">
        Gestão de Cirurgias<br>
        em Tempo Real
      </div>

      <div class="buttons">

        <a href="login.html" class="btn">
          Entrar
        </a>

      </div>
    </div>
  </div>
</body>

</html>