<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Antecessum OR - Login</title>
  
  <link rel="stylesheet" href="../styles/global.css">
  <link rel="stylesheet" href="../styles/components.css">
  <link rel="stylesheet" href="../styles/login.css">
</head>

<body>

  <div class="screen">
      <div class="content content--centered">

        <div class="logo">
          <div class="logo-inner"></div>
        </div>

        <div class="form">

          <div class="label">Usuário</div>

          <div class="input-box">
            <div class="input-icon">👤</div>

            <input type="text" placeholder="Digite seu usuário">
          </div>

          <div class="label">Senha</div>

          <div class="input-box">

            <div class="icon">🔒</div>

            <input type="password" placeholder="Digite sua senha" id="password">

            <div class="eye" onclick="togglePassword()">
              👁️
            </div>

          </div>

          <div class="forgot">
            Esqueceu sua senha?
          </div>

          <a href="salas.html" class="login-btn">
            Entrar
          </a>

          <div class="divider">

            <div class="divider-line"></div>

            <span>Ou</span>

            <div class="divider-line"></div>

          </div>

          <button class="bio-btn">

            <div class="finger">🖐️</div>

            Entrar com biometria

          </button>

        </div>

        <div class="footer">
          Antecessum OR
        </div>

      </div>
  </div>

  <script src="../scripts/scripts.js"></script>

</body>

</html>