<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Registrar Observações</title>

  <link rel="stylesheet" href="../styles/registrar_observacoes.css">
  <link rel="stylesheet" href="../styles/components.css">
</head>

<body>

  <div class="screen">
    <div class="header">
      <div class="back-icon">❮</div>

      <button class="title-button">
        Registrar Observações
      </button>
    </div>

    <div class="content">

      <div class="label">
        Tipo de observação?
      </div>

      <div class="select-box">
        <span>Observação geral</span>
      </div>

      <div class="label" style="margin-top:40px;">
        Observações
      </div>

      <div class="textarea-box">
        <textarea placeholder="Digite aqui as observações..."></textarea>

        <div class="counter">
          0/300
        </div>
      </div>

      <div class="label" style="margin-top:40px;">
        Anexar arquivo (Opcional)
      </div>

      <div class="upload-area">

        <div class="file-icon">
          📄
        </div>

        <button class="upload-btn">
          Adicionar arquivo
        </button>

      </div>

      <div class="info-text">
        As observações ficam visíveis para toda a equipe.
      </div>

      <button class="confirm-btn">
        Confirmar
      </button>

      <div class="back-text">
        Voltar
      </div>
    </div>
  </div>

  <!-- MENU -->
  <div class="bottom-nav">

    <a href="salas.html" class="nav-icon">🏠</a>

    <a href="alertas.html" class="nav-icon">🔔</a>

    <a href="graficos.html" class="nav-icon">📈</a>

  </div>
</body>

</html>