.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.logo-title {

    background: #175f14;

    color: white;

    padding: 16px 38px;

    border-radius: 18px;

    font-size: 28px;
    font-weight: 900;
}

.subtitle {
    color: #1d5f1d;
    font-size: 24px;
    font-weight: 800;
}

.bell {
    font-size: 52px;
    color: #1d5f1d;
    margin-top: 0;
    cursor: pointer;
}

.section-title {

    width: 360px;
    height: 62px;

    margin: 0 0 25px auto;

    background: #175f14;

    border-radius: 20px;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 26px;
    font-weight: 900;
}

.alert-card {

    background: white;

    border: 3px solid #1d5f1d;

    border-radius: 22px;

    padding: 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 18px;

    min-height: 150px;
}

.alert-left {
    display: flex;
    align-items: center;
    gap: 18px;
}

.icon {
    width: 90px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;

    color: #1d5f1d;
}

.triangle {
    font-size: 82px;
    font-weight: 900;
}

.clock {
    width: 70px;
    height: 70px;

    border-radius: 50%;
    border: 8px solid #3b7735;

    position: relative;
}

.clock::before {
    content: "";

    position: absolute;

    width: 5px;
    height: 20px;

    background: #3b7735;

    top: 12px;
    left: 50%;

    transform: translateX(-50%);
}

.clock::after {
    content: "";

    position: absolute;

    width: 18px;
    height: 5px;

    background: #3b7735;

    top: 34px;
    left: 34px;

    transform: rotate(35deg);
    transform-origin: left center;
}

.box {
    font-size: 70px;
}

.avatar {

    width: 80px;
    height: 80px;

    background: black;

    border-radius: 50%;

    position: relative;
}

.avatar::before {
    content: "";

    position: absolute;

    width: 26px;
    height: 26px;

    background: #335f2d;

    border-radius: 50%;

    top: 14px;
    left: 50%;

    transform: translateX(-50%);
}

.avatar::after {
    content: "";

    position: absolute;

    width: 48px;
    height: 28px;

    background: #335f2d;

    border-radius: 50px 50px 0 0;

    bottom: 12px;
    left: 50%;

    transform: translateX(-50%);
}

.check-circle {
    width: 80px;
    height: 80px;

    border-radius: 50%;

    background: #175f14;

    color: white;

    font-size: 48px;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.badge {

    background: #175f14;

    color: white;

    width: max-content;

    padding: 10px 18px;

    border-radius: 18px;

    font-size: 18px;
    font-weight: 800;
}

.alert-description {
    font-size: 22px;
    font-weight: 900;
    color: black;
}

.time {
    color: #335f2d;
    font-size: 22px;
    font-weight: 900;
}