.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.logo-title {

    background: #175f14;

    color: white;

    padding: 16px 38px;

    border-radius: 18px;

    font-size: 28px;
    font-weight: 900;
}

.bell {
    font-size: 52px;
    color: #1d5f1d;
    margin-top: 0;
    cursor: pointer;
}

.alert-card {

    background: white;

    border: 3px solid #1d5f1d;

    border-radius: 22px;

    padding: 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 18px;

    min-height: 150px;
}

.alert-left {
    display: flex;
    align-items: center;
    gap: 18px;
}

.triangle {
    font-size: 82px;
    font-weight: 900;
}

.box {
    font-size: 70px;
}

.check-circle {
    width: 80px;
    height: 80px;

    border-radius: 50%;

    background: #175f14;

    color: white;

    font-size: 48px;
    font-weight: 900;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.badge {

    background: #175f14;

    color: white;

    width: max-content;

    padding: 10px 18px;

    border-radius: 18px;

    font-size: 18px;
    font-weight: 800;
}

.alert-description {
    font-size: 22px;
    font-weight: 900;
    color: black;
}

.time {
    color: #335f2d;
    font-size: 22px;
    font-weight: 900;
}