.bottom-nav {

    position: fixed;

    bottom: 10px;

    width: 65%;
    height: 95px;

    background: #c0c0c0;

    border-radius: 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.08);
}

.nav-icon {
    font-size: 60px;
    color: #888;
    cursor: pointer;
    transition: 0.3s;
    padding-left: 80px;
    padding-right: 80px;
    text-decoration: none;
}

.nav-icon:hover {
    transform: scale(1.1);
    color: #145b14;
}

.screen{
    width:100%;
    min-height:100vh;

    background:
        linear-gradient(
            rgba(0, 60, 0, 0.70),
            rgba(0, 60, 0, 0.82)
        ),
        url("../uploads/background.avif");

    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    display:flex;
    align-items: center;
    justify-content:center;
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    background: #40c4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.logo-inner {
    position: relative;
    width: 70px;
    height: 70px;
    border: 5px solid white;
    border-radius: 10px;
}

.logo-inner::before,
.logo-inner::after {
    content: "";
    position: absolute;
    background: white;
}

.logo-inner::before {
    width: 40px;
    height: 5px;
    top: 18px;
    left: 10px;
}

.logo-inner::after {
    width: 40px;
    height: 5px;
    bottom: 18px;
    left: 10px;
}

.panel{
    width: 65%;
    align-items: center;

    top:20px;
    left:20px;
    right:20px;
    bottom:20px;

    background:#f4f4f4;

    border-radius:35px;

    padding:22px 18px 140px 18px;

    overflow-y:auto;

    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.back {
    font-size: 60px;
    color: #1a5d18;
    font-weight: 900;
    cursor: pointer;
    margin-top: 0;
    text-decoration: none;
}