* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d9d9d9;
}

/* FILTRO VERDE */
.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 70, 0, 0.78);
    z-index: 1;
}

/* CONTEÚDO */

.content {
    position: relative;
    z-index: 5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 260px 20px 60px;
}

/* ÍCONE */

.logo {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    background: #40c4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.logo-inner {
    position: relative;
    width: 70px;
    height: 70px;
    border: 5px solid white;
    border-radius: 10px;
}

.logo-inner::before,
.logo-inner::after {
    content: "";
    position: absolute;
    background: white;
}

.logo-inner::before {
    width: 40px;
    height: 5px;
    top: 18px;
    left: 10px;
}

.logo-inner::after {
    width: 40px;
    height: 5px;
    bottom: 18px;
    left: 10px;
}

/* TÍTULO */

.title {
    margin-top: 35px;
    color: white;
    font-size: 58px;
    font-weight: 800;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.45);
    text-align: center;
}

/* SUBTÍTULO */

.subtitle {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: 600;
}

/* BOTÕES */

.buttons {
    margin-top: 80px;
    padding-bottom: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.btn{
  width:35%;
  height:70px;

  background:white;
  color:#165f12;

  border:none;
  border-radius:20px;

  font-size:24px;
  font-weight:bold;

  cursor:pointer;

  text-decoration:none;

  display:flex;
  justify-content:center;
  align-items:center;
}

.btn:hover {
    transform: scale(1.03);
    background: #f5f5f5;
}

/* RESPONSIVO */

@media(max-width:480px) {

    .app-screen {
        width: 100vw;
        height: 100vh;
    }

    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 22px;
    }

    .btn {
        width: 85%;
    }

}