.select-box {
    width: 100%;
    background: #c9dbc5;
    border: none;
    border-radius: 15px;
    padding: 22px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #264726;
    font-weight: bold;
}

.upload-area {
    width: 100%;
    border: 4px dotted #2f5f2f;
    border-radius: 25px;
    padding: 35px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background: #f7f7f7;
}

.file-icon {
    font-size: 50px;
    color: #666;
}

.upload-btn {
    background: #165f12;
    color: white;
    border: none;
    padding: 16px 55px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.info-text {
    margin-top: 18px;
    color: #8d8d8d;
    font-size: 16px;
    font-weight: bold;
}